@tailwind base;
/* Write your own custom base styles here */

@tailwind components;
/* Write your own custom component styles here */

@tailwind utilities;
/* Your own custom utilities */

@layer components {
  .button {
    @apply text-white bg-gray-500 rounded-md px-4 h-10;
  }
  .input {
    @apply border-gray-500 border rounded-sm h-10;
  }
  .default-button {
    @apply text-white bg-gray-500 rounded-md px-4 h-10;
  }
}
